@import '../../theme.scss';

.dark-mode__email-shortcut-elem {
  &:first-child > a {
    border-top: 1px solid rgba(#4e4e4e, 0.5);
  }

  & > a {
    background-color: #242424;
    border-bottom: 1px solid rgba(#4e4e4e, 0.5);
    border-left: 1px solid rgba(#4e4e4e, 0.5);
    border-right: 1px solid rgba(#4e4e4e, 0.5);

    &:hover {
      background-color: rgba(#1d1d1d, .9);
    }

    & > .email-shortcut-elem__left {
      & > .email-shortcut-elem__left__cb {
        & > input {
          border: 2px solid #fff;
          background-color: rgba(#fff, .2);

          &:checked::after {
            color: #fff;
          }
        }
      }
    }

    & > .email-shortcut-elem__right {
      & > p {
        color: #afafaf;
      }
    }

    & > .email-shortcut-elem__middle {
      & > p {
        color: #8f8e8e;

        & > strong {
          color: #d1d1d1;
        }
      }
    }
  }
}

.light-mode__email-shortcut-elem {
  & > a {
    background-color: rgba(#fff, .8);
    border-bottom: 1px solid rgba(#fff, 0.5);

    &:hover {
      background-color: rgba(#fff, .9);
      border-bottom: 1px solid transparent;
    }

    & > .email-shortcut-elem__left {
      & > .email-shortcut-elem__left__cb {
        & > input {
          background: none;
          border: 2px solid #a3a3a3;

          &:checked::after {
            color: #323232;
          }
        }
      }
    }
    
    & > .email-shortcut-elem__right {
      & > p {
        color: #666666;
      }
    }

    & > .email-shortcut-elem__middle {
      & > p {
        color: #454545;

        & > strong {
          color: #323232;
        }
      }
    }
  }
}

.email-shortcut-elem {
  & > a {
    text-decoration: none;
    cursor: pointer;

    padding: 0.6rem 0.9em;
    transition: all .08s;
    display: flex;
    align-items: center;

    &:hover {
      box-shadow: 2px 2px rgba(#000, .4);
      border-left: 2px solid map-get($colors, primary);
    }

    & > .email-shortcut-elem__right {
      & > p {
        font-size: 0.8rem;
      }
    }
  
    & > .email-shortcut-elem__left {
      margin-right: 1rem;
      display: flex;
      align-items: center;
      max-width: 200px;
      width: 100%;

      & > .email-shortcut-elem__left__cb {
        margin-right: 0.4rem;

        & > input {
          display: flex;
          justify-content: center;
          align-items: center;
          appearance: none;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: $borderRadius;

          &:checked::after {
            content: '+';
            font-weight: bold;
            font-size: 1.1rem;
          }
        }
      }

      & > p {
        flex-grow: 1;
        font-size: 0.8rem;
        color: map-get($colors, primary);
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  
    & > .email-shortcut-elem__middle {
      flex-grow: 1;
  
      & > p {
        max-width: 40vw;
        user-select: none;
        pointer-events: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.8rem;

        & > strong {
          font-size: 0.9rem;
          font-weight: bold;
        }
      }
    }
  }
}

.dark-mode__email-shortcut-elem_sl > a {
  background-color: #1d1d1d;
  border-bottom: 1px solid rgba(#4e4e4e, 0.5);
  border-left: 1px solid rgba(#4e4e4e, 0.5);
  border-right: 1px solid rgba(#4e4e4e, 0.5);
}

.light-mode__email-shortcut-elem_sl {
  background-color: rgba(#fff, .9);
}

.email-shortcut-elem__warn > a > .email-shortcut-elem__left > p {
  color: #e73212;
}

.email-shortcut-elem__warn > a:hover {
  border-left: 2px solid #e73212;
}