@import '../../theme.scss';

.form-field {
  margin-top: 0.3rem;

  & > .form-field__flexarea {
    display: flex;
    align-items: center;

    & > .form-field__label {
      width: 100px;
      font-size: 0.8rem;
      color: #222222;

      & > span {
        color: map-get($colors, primary);
      }
    }
  
    & > .form-field__input {
      flex-grow: 1;
      outline: none;
      border: none;
      background: none;
      font-size: 0.8rem;
      color: map-get($colors, primary);
      padding: 0.4rem;
      border-bottom: 1px solid #c9c9c9;
      transition: all .08s;
      outline: none;
      appearance: none;
      -moz-appearance: none;

      &:focus {
        border-bottom: 1px solid map-get($colors, primary);
      }
    }
  }

  & > .form-field__error {
    color: map-get($colors, primary);
    font-size: 0.8rem;
    text-align: right;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    height: 1rem;
  }
}

.form-field_invalid {
  & > .form-field__flexarea {
    & > .form-field__input {
      border-bottom: 1px solid #ff2222;
      color: #ff2222;

      &:focus {
        border-bottom: 1px solid #ff2222;
      }
    }
  }

  & > .form-field__error {
    color: #ff2222;
  }
}