@import '../theme.scss';

.dark-mode__developer-info {
  background-color: #242424;
  border: 1px solid rgba(#4e4e4e, 0.5);

  & > p {
    color: #b4b4b4;

    & > strong {
      color: #fff;
    }
  }

  & > .developer-info__section {
    & > table {
      & > tbody, & > thead {
        & > tr {
          & > td, & > th {
            border: 1px solid #3a3a3a;
          }

          & > th {
            color: #e7e7e7;
          }
        }
      }   
    }
  }
}

.light-mode__developer-info {
  background-color: rgba(#fff, .8);

  & > p {
    color: #353535;

    & > strong {
      color: #222;
    }
  }

  & > .developer-info__section {
    & > table {
      & > tbody, & > thead {
        & > tr {
          & > td, & > th {
            border: 1px solid #a8a8a8;
          }

          & > th {
            color: #292929;
          }
        }
      }   
    }
  }
}

.developer-info {
  border-radius: $borderRadius;
  padding: 1rem;
  margin: 1rem;

  & > p {
    margin-bottom: 1rem;
    font-size: 0.9rem;

    & > strong {
      font-size: 1.2rem;
      font-weight: bold;
      display: block;
      margin-bottom: 0.4rem;
    }
  }

  & > hr {
    border: none;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }


  & > .developer-info__section {
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: 1rem;
    }

    & > table {
      margin-bottom: 1.2rem;

      & > caption {
        text-align: left;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.4rem;
        color: map-get($colors, primary);

        &::before {
          content: '* ';
        }
      }

      & > tbody, & > thead {
        text-align: left;

        & > tr {
          & > td, & > th {
            padding: 0.4rem 1rem;
          }

          & > th {
            font-size: 0.9rem;
            font-weight: bold;
          }

          & > td {
            color: map-get($colors, primary);;
            font-size: 0.9rem;

            & > span {
              font-style: italic;
            }
          }
        }
      }   
    }
  }
}