@import '../theme.scss';

.dark-mode__email__clients {
  background-color: #242424;
  border: 1px solid rgba(#4e4e4e, 0.5);

  & > h1, & > h2 {
    color: #fff;
  }

  & > p {
    color: #b4b4b4;
  }

  & > .email__clients-conninfo {
    & > table {
      & > tbody, & > thead {
        & > tr {
          & > td, & > th {
            border: 1px solid #3a3a3a;
          }

          & > th {
            color: #e7e7e7;
          }
        }
      }
    }
  }
}

.light-mode__email__clients {
  background-color: rgba(#fff, .8);

  & > h1, & > h2 {
    color: #222;
  }

  & > p {
    color: #353535;
  }

  & > .email__clients-conninfo {
    & > table {
      & > tbody, & > thead {
        & > tr {
          & > td, & > th {
            border: 1px solid #a8a8a8;
          }

          & > th {
            color: #292929;
          }
        }
      }
    }
  }
}

.email__clients {
  border-radius: $borderRadius;
  padding: 1rem;
  margin: 1rem;

  & > img {
    display: block;
    max-width: 700px;
    width: 100%;
    border-radius: $borderRadius;
  }

  & > h1, & > h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
  }

  & > p {
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }

  & > hr {
    border: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  & > .email__clients-conninfo {
    & > table {
      margin-bottom: 1.2rem;

      & > caption {
        text-align: left;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.4rem;
        color: map-get($colors, primary);

        &::before {
          content: '* ';
        }
      }

      & > tbody, & > thead {
        text-align: left;

        & > tr {
          & > td, & > th {
            padding: 0.4rem 1rem;
          }

          & > th {
            font-size: 0.9rem;
            font-weight: bold;
          }

          & > td {
            color: map-get($colors, primary);;
            font-size: 0.9rem;

            & > span {
              font-style: italic;
            }
          }
        }
      }
      
    }
  }
}