@import '../theme.scss';

.dark-mode__email {
  & > .email__content {
    & > .email__content-readable {
      & > iframe {
        background-color: #242424;
        border: 1px solid rgba(#4e4e4e, 0.5);
      }
    }

    & > .email__content-header {
      background-color: rgba(#242424, .8);
      border: 1px solid rgba(#4e4e4e, 0.5);

      & > .email__content-header__left {
        & > svg {
          fill: #fff;
        }
      }

      & > .email__content-header__right {
        & > ul {
          & > li {
            & > button {
              color: rgb(122, 122, 122);
              background-color: #242424;
              border: 1px solid #3b3b3b;
    
              &:hover {
                background-color: #292929;
              }
            }
          }
        }
      }

      & > .email__content-header__middle {
        & > span {
          color: rgb(177, 177, 177);
        }

        & > hr {
          border-bottom: 1px solid #b6b6b6;
        }
      }
    }
  }
}

.light-mode__email {
  & > .email__content {
    & > .email__content-readable {
      & > iframe {
        background-color: #fff;
      }
    }

    & > .email__content-header {
      background-color: rgba(#fff, .8);
      border-bottom: 1px solid rgba(#fff, 0.5);

      & > .email__content-header__left {
        & > svg {
          fill: #222222;
        }
      }

      & > .email__content-header__right {
        & > ul {
          & > li {
            & > button {
              color: #323232;
              background-color: #b6b6b6;
              border: 1px solid #8a8a8a;
    
              &:hover {
                box-shadow: 1px 1px 2px rgba(#000, 0.2);;
              }
            }
          }
        }
      }

      & > .email__content-header__middle {
        & > span {
          color: #323232;
        }

        & > hr {
          border-bottom: 1px solid #b6b6b6;
        }
      }
    }
  }
}

.dark-mode__email-details {
  & > table {
    & > tbody {
      & > tr {
        & > th {
          color: #dddddd;
        }

        & > td {
          color: #323232;

          & > em {
            color: #999999;
          }

          & > ol {
            color: #fff;

            & > li {
              & > p {
                background-color: #1a1a1a;
                border: 1px solid rgba(#4e4e4e, 0.5);
                color: #858585;
              }
            }
          }
        }
      }
    }
  }
}

.light-mode__email-details {
  & > table {
    & > tbody {
      & > tr {
        & > th {
          color: #323232;
        }

        & > td {
          color: #323232;

          & > em {
            color: #999999;
          }

          & > ol {
            & > li {
              & > p {
                background-color: #ececec;
                color: #323232;
              }
            }
          }
        }
      }
    }
  }
}

.email-details {
  word-break: break-all;

  & > table {
    & > tbody {
      & > tr {
        & > th {
          min-width: 90px;
          padding: 0.2rem 0.5rem;
          text-align: left;
          font-size: 0.9rem;
          font-weight: bold;
        }

        & > td {
          padding: 0.2rem 0.5rem;
          font-size: 0.9rem;

          & > em {
            font-style: italic;
            font-size: 0.8rem;
          }

          & > ul {
            & > li {
              display: inline-block;

              & > p {
                color: map-get($colors, primary);

                & > strong {
                  font-weight: bold;
                }
                                 
                & > span {
                  margin-left: 0.2rem;
                  margin-right: 0.2rem;
                }
              }
            }
          }

          & > ol {
            & > li {
              & > p {
                padding: 0.4rem;
                margin: 0.4rem;
                border-radius: $borderRadius;

                & > small {
                  color: map-get($colors, primary);
                }
              }
            }
          }

          & > small {
            color: map-get($colors, primary);
          }
        }
      }
    }
  }
}

.email {
  height: calc(100% - 2rem);
  margin: 1rem;

  & > .email__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > .email__content-readable {
      margin-top: 1rem;
      flex-grow: 1;
      height: 100%;
      display: flex;
      flex-direction: column;

      & > h2 {
        color: #fff;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        max-width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & > iframe {
        flex-grow: 1;
        overflow: hidden;
        border-radius: $borderRadius;
        font-family: sans-serif;
      }
    }

    & > .email__content-header {
      border-radius: $borderRadius;
      display: flex;
      align-items: center;
      padding: 1rem;

      & > .email__content-header__left {
        margin-right: 1rem;

        & > svg {
          width: 2rem;
          height: 2rem;
        }
      }

      & > .email__content-header__right {
        margin-left: 1rem;
        text-align: center;

        & > ul {
          & > li {
            display: inline-block;

            &:not(:last-child) {
              margin-right: 0.4rem;
            }
            
            & > button {
              appearance: none;
              cursor: pointer;
              transition: all .08s;
              padding: 0.1rem 0.5rem;
              border-radius: $borderRadius;
            }
          }
        }
      }

      & > .email__content-header__middle {
        flex-grow: 1;

        & > span {
          display: inline-block;
          vertical-align: middle;
          font-size: 0.9rem;
          margin-right: 0.5rem;
        }

        & > div {
          display: block;
          height: 0.2rem;
          width: 100%;
        }

        & > hr {
          border: none;
          border-bottom: 1px solid #b6b6b6;
        }

        & > p {
          color: map-get($colors, primary);
          display: inline-block;
          font-size: 0.8rem;

          & > a {
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
  
        & > ul {
          display: inline-block;
          vertical-align: middle;

          & > li {
            display: inline-block;
            vertical-align: middle;

            &:not(:last-child) {
              margin-right: 0.4rem;
            }

            & > p {
              color: map-get($colors, primary);
              font-size: 0.9rem;

              & > strong {
                font-weight: bold;
                font-size: 0.8rem;
              }

              & > span {
                margin-left: 0.15rem;
                margin-right: 0.15rem;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
