@import '../../theme.scss';

.dark-mode__fullscreen-message {
  background-color: #242424;
  border: 1px solid rgba(#4e4e4e, 0.5);

  & > .fullscreen-message__picture {
    & > svg {
      fill: #fff;
    }
  }

  & > .fullscreen-message__info {
    & > p {
      color: rgb(190, 190, 190);

      & > strong {
        color: #fff;
      }
    }
  }
}

.light-mode__fullscreen-message {
  background-color: rgba(#fff, .8);
  border: 1px solid rgba(#fff, 0.5);

  & > .fullscreen-message__picture {
    & > svg {
      fill: #323232;
    }
  }

  & > .fullscreen-message__info {
    & > p {
      color: #555555;

      & > strong {
        color: #323232;
      }
    }
  }
}

.fullscreen-message {
  text-align: center;
  padding: 1rem;

  & > .fullscreen-message__picture {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;

    & > svg {
      width: 3.8rem;
      height: 3.8rem;
    }
  }

  & > .fullscreen-message__info {
    display: inline-block;
    vertical-align: middle;
    text-align: left;

    & > p {
      font-size: 0.9rem;

      & > strong {
        font-size: 1.6rem;
        font-weight: bold;

        & > span {
          animation: EmailLoadingDot 1.4s both infinite;
    
          &:nth-child(1) {
            animation-delay: 0;
          }
    
          &:nth-child(2) {
            animation-delay: .2s;
          }
    
          &:nth-child(3) {
            animation-delay: .4s;
          }
    
          @keyframes EmailLoadingDot {
            0% {
              opacity: .2;
            }
    
            20% {
              opacity: 1;
            }
    
            100% {
              opacity: .2;
            }
          }
        }
      }
    }
  }
}