@import '../../theme.scss';

.popup-background {
  z-index: 2000;
  background-color: rgba(#000, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popup {
  position: fixed;
  z-index: 2200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 400px;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: $borderRadius;
  box-shadow: 2px 2px 9px rgba(#000, 0.4);

  & > hr {
    border: none;
    border-bottom: 1px solid #d6d6d6;
  }

  & > .popup__content {
    & > .popup__content__text {
      margin-top: 1rem;
      color: #323232;
      font-size: 0.9rem;
    }

    & > .popup__content__list {
      max-height: 400px;
      overflow-y: auto;

      & > li {
        padding: .7rem .8rem;
        border-radius: $borderRadius;
        cursor: pointer;
        transition: all .08s;

        &:hover {
          border-left: 2px solid #323232;
          background-color: #e0e0e0;
        }

        & > p {
          color: #323232;
          font-weight: bold;
          font-size: 0.9rem;

          & > svg {
            fill: #323232;
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5rem;
          }

          & > span {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }

    & > .popup__content__buttons {
      & > li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 0.5rem;
        }

        & > button {
          border: none;
          background-color: #323232;
          cursor: pointer;
          padding: 0.4rem 0.8rem;
          border-radius: $borderRadius;
          transition: all .08s;
          border: 1px solid transparent;

          &:hover {
            background-color: #d6d6d6;
            border: 1px solid #a5a5a5;

            & > svg {
              fill: #323232;
            }

            & > span {
              color: #323232;
            }
          }

          & > svg {
            display: inline-block;
            vertical-align: middle;
            fill: #fff;
            margin-right: 0.2rem;
          }

          & > span {
            color: #fff;
            display: inline-block;
            font-weight: bold;
            font-size: 0.9rem;
            vertical-align: middle;
          }
        }
      }
    }
  }

  & > .popup__title {
    color: #323232;
    font-size: 0.9rem;
    user-select: none;

    & > svg {
      vertical-align: middle;
      margin-right: 0.5rem;
      display: inline-block;
      fill: #323232;
    }

    & > strong {
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
    }
  }
}